common:
	extensions:
		kdyby.annotations: Kdyby\Annotations\DI\AnnotationsExtension
		kdyby.validator: Kdyby\Validator\DI\ValidatorExtension
		arachne.dihelpers: Arachne\DIHelpers\DI\DIHelpersExtension
		arachne.verifier: Arachne\Verifier\DI\VerifierExtension
		arachne.parametervalidation: Arachne\ParameterValidation\DI\ParameterValidationExtension

nette_2.2 < common:
	extensions:
		nette: Nette\Bridges\Framework\NetteExtension
		kdyby.translation: Kdyby\Translation\DI\TranslationExtension

	nette:
		application:
			mapping:
				*: Tests\Integration\Classes\*Presenter

nette_2.3 < common:
	extensions:
		# TODO when https://github.com/Kdyby/Translation/pull/71 is merged:
		#     - rename application => nette.application
		#     - put kdyby.translation in common secion
		application: Nette\Bridges\ApplicationDI\ApplicationExtension
		nette.cache: Nette\Bridges\CacheDI\CacheExtension( %tempDir% )
		nette.http: Nette\Bridges\HttpDI\HttpExtension
		nette.session: Nette\Bridges\HttpDI\SessionExtension
		nette.routing: Nette\Bridges\ApplicationDI\RoutingExtension
		kdyby.translation: Kdyby\Translation\DI\TranslationExtension

	application:
		mapping:
			*: Tests\Integration\Classes\*Presenter
